# ---- Android ----
*.iml
.gradle/
local.properties
/.idea/
.cxx/
**/build/
captures/
.externalNativeBuild/
*.keystore
*.jks
**/google-services.json

# ---- Genel ----
.DS_Store
Thumbs.db

# ---- Backend ----
backend/node_modules/
backend/.env
backend/dist/


# ---- Backend ----
backend/node_modules/
backend/.env
backend/dist/

